*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mouse Memoirs", sans-serif;
}

.encabezado{
    display: flex;
    align-items: center;
    gap: 11rem;
    background-color: rgb(239, 242, 245);
}

.imagenLogo{
    width: 250px;
    height: 200px;
    margin: 30px;
}

body{
    background-color: black;
}

h2 {
    font-size: 5rem;
}

.listaNavegacion{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 40px;
    padding: 3.5rem 4.5rem 4rem 4.5rem;
    margin: 0;
    background-color: black;
}

.listaNavegacion li a {
    text-decoration: none;
    font-size: 4rem;
}

#carrito{
    color: white;
    font-size: 30px;
}

.contenedorProductos {
    max-width: 600px;
    margin: auto;
    background: black;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.categoria-menu {
    margin-bottom: 20px;
}

.item-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.boton-agregar {
    background-color: #28a745;
    color: white;
    font-size: 15px;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.item-menu p {
    font-size: 16px;
    color: #555;
}

.contenedorProductos div h3{
    font-size: 4rem;
    color: white;
}

.quienes-somos {
    background-color: black;
    padding: 20px;
    padding-bottom: 150px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 800px;
}

.container {
    text-align: center;
    background-color: black;
}

.container h2 {
    color: white;
}

.container p {
    color: white;
    font-size: 30px;
}

.seccionPizzas{
    padding-bottom: 2rem;
    font-size: 2rem;
}


.seccionEmpanadas{
    padding-bottom: 2rem;
    font-size: 2rem;
}

.seccionHamburguesas{
    padding-bottom: 2rem;
    font-size: 2rem;
}


.footer{
    background-color: brown;
    height: 80px;
    display: flex;
    align-items: center;
}

.categoria-contacto{
    color: white;
    font-size: 50px;
}

.texto-formulario{
    font-size: ;
}

.input{
    height: 30px;
    width: 300px;
}

.input-message{
    height: 200px;
    width: 300px;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 10px;
}

.texto-formulario{
    color: white;
    font-size: 50px;
    padding: 20px;
}

.boton-enviar {
    background-color: #28a745;
    color: white;
    font-size: 30px;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    height: 110px;
    width: 500px;
}